.box {
  height: 100px;
  width: 100px;
}

.box1 {
  /* named color (red, yellow, green, blue, etc.) */
  background-color: red;
}

.box2 {
  /* hex color (# + 3 or 6 characters from A-F, 1-9) */
  background-color: #fadc45;
}

.box3 {
  /* rgb color (red: 0-255, green: 0-255, blue: 0-255) */
  background-color: rgb(255, 145, 123);
}

.box4 {
  /* rgba color same as rgb color + alpha: 0-1 */
  background-color: rgba(134, 201, 147, 0.5);
}

.box5 {
  /* hsl color (hue: 0-360, saturation: 0-100%, lightness: 0-100%) */
  background-color: hsl(153, 100%, 50%);
}

.textbox {
  /* compare this */
  opacity: 0.5;
  background-color: rgb(255, 145, 123);

  /* again this */
  /* background-color: rgba(255, 145, 123, 0.8); */
}

.textbox p {
  color: #000;
}
