.box {
  padding: 30px;
  width: 100px;
}
.parent-box {
  background-color: #a2b45f;
  width: 200px;
  height: 300px;
  position: relative;
}

.box1 {
  /* relative */
  position: relative;
  left: 30px;
  top: -10px;
  background-color: red;
}
.box2 {
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box3 {
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  border: 3px solid green;
  position: fixed;
  z-index: 3;
}
